
.loader{
  position: fixed;
  top: 60px;
  height: calc( 100% - 60px );
  width: 100%;
  left: 0;
  z-index: 9999;
  background: rgba(#cef, 0.9);
  transition: all 0.25s;
  pointer-events: none;
  display: none;

  &.loading{
    display: block;
  }

  .loaderProgress {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
  }
  .loaderProgress:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}