@import "styles/base.scss";

.rocket{
  border: 1px solid black;
  margin: 0 auto;
  width: 50%;
  display:flex;
  margin-bottom: 20px;
  cursor: pointer;

  &.active{
    background: rgba(72, 132, 51, 0.5);
  }
  &.inactive{
    background: rgba(189, 50, 50, 0.6);
  }

  .leftSide{
    width: 40%;
    position:relative;
    min-height: 120px;
  }

  .rightSide{
    padding: 20px;
    width: calc(60% - 20px);

    p{
      margin-top: 10px;
    }
  }
}

.label{
  font-weight: 600;
}
